<div class="artwork_container" style="top: <%= artwork.vertical %>px; left: <%= artwork.horizontal %>px;" data-id="<%= artwork.id %>">
  <%= image_tag artwork.image, class: "artwork", style: "height: #{artwork.size}px; width: #{artwork.size}px;" %>
</div>
