<%= render partial: 'shared/header' %>

<div class="top_area">
  <div class="top_title">Exhibitions</div>
</div>

<% if @galleries.any? %>
  <div class="show_exhibitions">
    <%= render partial: 'gallery', collection: @galleries %>
  </div>
<% end %>
