<%= render partial: 'shared/header' %>

<div class="top">Exhibitions</div>

<% if @galleries.any? %>
  <div class="show_exhibitions">
    <%= render partial: 'gallery', collection: @galleries %>
  </div>
<% end %>
