.top_area {
  /* background: linear-gradient(0deg, #E4A972, #9941D8); */
  background: linear-gradient(-10deg, #000000, #E4A972);
}

.top_title {
  color: #FFFFFF;
  font-size: 40px;
  font-style: italic;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 100px;
}

.gallery_card_area {
  display: flex;
  overflow: scroll;
  padding-top: 50px;
  padding-bottom: 80px;
}

.gallery_card {
  height: 200px;
  width: 250px;
  border: lightgray solid 1px;
  margin-left: 60px;
  background-color: #F5F5F5;
}

.gallery_card_image {
  height: 150px;
  width: 250px;
  object-fit: cover;
}

.gallery_card_title {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}
