.top_area {
  background-color: #494949;
  /* background: linear-gradient(-45deg, #E4A972, #9941D8); */
  padding: 50px 40px 140px;
}

.top_title {
  color: #FFFFFF;
  font-size: 40px;
  /* font-family: 'Vollkorn', serif; */
  font-style: italic;
}