img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.exhibition_room {
  background-color: azure;
  height: 600px;
  border: lightgray solid 1px;
  position: relative;
}

.artwork_container {
  position: absolute;
}

.artwork {
  height: 180px;
  width: 180px;
  object-fit: contain;
}
