.mypage_name {
  width: 800px;
  font-size: 25px;
  border-bottom: lightgray solid 2px;
  padding: 50px 20px 10px;
  margin-left: 50px;
}

.mypage_title {
  width: 800px;
  font-size: 20px;
  padding: 50px 30px 10px;
  margin-left: 60px;
  margin-bottom: 20px;
}

.mypage_edit_btn {
  width: 30px;
  margin-left: 90px;
  border: #696969 solid 1px;
  padding: 6px 12px;
}

.mypage_profile {
  margin-top: 30px;
  margin-left: 120px;
}
